html,
body {
    width: 100vw;
    height: 100vh;
}

.root {
    font-family: "Doulos SIL", serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-variant-emoji: text;
}

.sidebar {
    background: #fafafa;
    padding: 24px;
    border-right: 1px solid black;
    font-size: 24px;
}

.content-pane {
    flex: 1;
    background: white;
    height: 100%;
    padding: 24px;
}

.title-container {
    border-bottom: 1px solid #e4e4e4;
}

.title {
    font-size: 36px;
}

.button-bar {
    display: flex;
    flex-direction: row;
}

.button {
    background: white;
    border: 1px solid #999;
    cursor: grab;
    font-size: 16px;
    padding: 3px 8px;
}

.spacer {
    flex: 1;
}
