html,
body {
    width: 100vw;
    height: 100vh;
}

.root {
    font-family: "Doulos SIL", serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-variant-emoji: text;
}

.sidebar {
    background: #fafafa;
    padding: 24px;
    border-right: 1px solid black;
}

.content-pane {
    flex: 1;
    background: white;
    height: 100%;
    padding: 24px;
}
