/* Reset */

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Basic layout */

html,
body,
.root {
    width: 100vw;
    height: 100vh;
}

/* Component style */

.Root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.NavPane {
    background: #f5f5f5;
    width: 180px;
    border-right: 1px solid #999;
}

.ContentPane {
    flex: 1;
}
