* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font: inherit;
}

li {
    list-style-type: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
