[package]
name = "core"
version = "0.0.0"
edition.workspace = true
license.workspace = true

[dependencies]
axum.workspace = true
tokio.workspace = true
maud.workspace = true
rusqlite.workspace = true
